/*-- scss:defaults --*/
// Base document colors
$body-bg: #212121;
$body-color: white;
$link-color: #41a4f4;

// Code blocks
// $code-block-bg-alpha: -.8;
$pre-color: white;


// navbar
$navbar-bg: #212121;
// $nav-tabs-link-active-bg: white;
$nav-tabs-link-active-color: white;
